body {
    margin: 0;
    padding: 0;
    background-color: var(--background-theme);
}

@media screen and (max-width: 768px) {
    #main {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 44px;
        font-weight: 900;
        color: var(--background-theme-text);
    }
}

@media screen and (min-width: 768px) {
    #main {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 94px;
        font-weight: 900;
        color: var(--background-theme-text);
    }
    .btn-reload {
        background-color: var(--background-theme-complementary);
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: var(--background-theme-text);
        padding: 10px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        margin-top: 10px;
    }
}

.header {
    color: var(--background-theme-text);
    font-size: 50px;
}

.spinner-border {
    width: 20rem;
    height: 20rem;
}

.text-primary {
    color: var(--background-theme-text)!important;
}

:root {
    --background-theme: #040d19;
    --background-theme-text: #d2e3f7;
    --background-theme-complementary: #1C3144;
}